:root {
    --verde: #082922;
    --verde-claro: #1B8F76;
    --amarelo: #F9FD27;
    --cinza: #0829222c;
    --cinza-section: #D9D9D9;


    --fonte-texto: "Exo 2", sans-serif;
    --fonte-titulo-button: "Poppins", sans-serif;

}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: var(--fonte-texto);
}

body {
    overflow-y: hidden;
}

.cabecalho {
    background-color: var(--verde);
    height: 109px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 129px;
    height: 153px;
}

.page-action {
    overflow: y hidden;
    width: 100%;
    height: calc(100vh - 109px);
    background-image: url(../img/fundoPg1.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 20px; */
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 18px;
    text-align: center;
}

button {
    width: 249px;
    height: 64px;
    border-radius: 20px;
    border: none;
    font-size: 26px;
    text-transform: uppercase;
    background-color: var(--amarelo);
    color: #000000;
    font-family: var(--fonte-titulo-button);
    font-weight: 900;
    cursor: pointer;
}

#produtos {
    margin-top: 5%;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--fonte-titulo-button);
}

h1 {
    font-size: 22px;
    font-weight: bold;
    font-family: var(--fonte-titulo-button);
}

h2 {
    font-size: 14px;
    font-weight: light;
}

h3 {
    font-family: var(--fonte-titulo-button);
    font-size: 14px;
    font-weight: bolder;
    color: white;
}

p {
    margin-top: 5%;
    width: 80%;
}

strong {
    font-weight: bold;
    color: var(--verde);
}

a {
    color: black;
    font-family: var(--fonte-titulo-button);
}

.material-symbols-outlined {
    font-size: 16px;
    font-weight: bold;
}

.swiper {
    margin: 5%;
    width: 364px;
    height: 281px;
    border-radius: 20px;
    cursor: grab;
}

.swiper img {
    width: 364px;
    height: 281px;
}

.swiper-slide {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.page-geral {
    overflow: y hidden;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}

iframe {
    margin-top: 10%;
    border-radius: 15px;
}

.info-geral {
    overflow: y hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 8%;
    background-color: var(--cinza);
    margin-left: 5%;
    margin-right: 5%;
}

.container-lista {
    overflow: y hidden;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin-bottom: 5%;
    width: 100%;
}

.lista-info {
    overflow: y hidden;
    list-style: disc;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    color: var(--verde);
    width: 80%;
    font-size: 20px;
}

.info {
    margin-top: 2px;
    font-size: 20px;
    
}

.fundo-carrossel {
    overflow: y hidden;
    background-color: var(--verde);
    width: 100%;
    display: flex;
    justify-content: center;
}

.missao {
    overflow: y hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url(/img/fundo-section2.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2%;
    padding-bottom: 0;
    color: white;
}

.missao .info {
    color: white;
}

.page-compromisso {
    overflow: y hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url(/img/fundo-section2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2%;
    padding-bottom: 0;
    color: white;
}

.page-compromisso .info {
    color: white;
}

.compromisso {
    color: white;
}

.compromisso-text {
    margin-bottom: 5%;
    text-align: center;
}



.container-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.container-card h1 {
    font-weight: 400;
}

.container-card strong {
    font-weight: 900;
}

.card {
    width: 80%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--verde);
    color: var(--verde-claro);
    padding: 20px;
    border-radius: 5px;
}


.card > p {
    overflow-y: hidden;
    margin-top: 2%;
    color: white;
    width: 100%;
    text-align: left;
    font-weight: lighter;
}

.sub-title {
    text-align: center;
    width: 78%;
    margin: 2%;
    color: var(--verde-claro);
    padding: 5%;
    border: 3px solid var(--verde-claro);
    border-radius: 5px;
}

.action {
    overflow: y hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-image: url(/img/fundo-seciton.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 100%;
    padding: 5%;
}

.feedbacks {
    overflow: y hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 5%;
    background-color: var(--cinza-section);
}

.lojas {
    overflow: y hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cinza-section);
    width: 100%;
}

.card-lojas {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.item-loja img {
    width: 88px;
    height: 88px;
    border-radius: 20px;
}

.lojas button {
    width: 80%;
    margin: 5%;
}

.redes-sociais {
    overflow: y hidden;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url(/img/fundo-seciton.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes-sociais h3 {
    font-size: 20px;
}

.link-redes {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.item-redes {
    display: flex;
    width: 105px;
    height: 90px;
    background-color: var(--verde-claro);
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.item-redes img {
    width: 44px;
    height: 44px;
    justify-content: center;
}

footer {
    overflow: y hidden;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

footer h3 {
    color: #000000;
}

footer img {
    width: 78px;
    height: 78px;
}


