:root {
    --verde: #082922;
    --verde-claro: #1B8F76;
    --amarelo: #F9FD27;
    --cinza: #0829222c;
    --cinza-section: #D9D9D9;


    --fonte-texto: "Exo 2", sans-serif;
    --fonte-titulo-button: "Poppins", sans-serif;

}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: var(--fonte-texto);
}

body, html {
    overflow-x: hidden;
}

.cabecalho {
    background-color: var(--verde);
    height: 109px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 129px;
    height: 153px;
}

.page-action {
    overflow-x: hidden;
    overflow: hidden;
    width: 100%;
    min-height: max-content;
    height: calc(100vh - 109px);
    background-image: url(../img/fundoPg1.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 20px; */
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 18px;
    text-align: center;
}

button {
    width: 249px;
    height: 64px;
    border-radius: 20px;
    border: none;
    font-size: 26px;
    text-transform: uppercase;
    background-color: var(--amarelo);
    color: #000000;
    font-family: var(--fonte-titulo-button);
    font-weight: 900;
    cursor: pointer;
}

#produtos {
    margin-top: 5%;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--fonte-titulo-button);
}

h1 {
    font-size: 22px;
    font-weight: bold;
    font-family: var(--fonte-titulo-button);
}

h2 {
    font-size: 14px;
    font-weight: light;
}

h3 {
    font-family: var(--fonte-titulo-button);
    font-size: 14px;
    font-weight: bolder;
    color: white;
}

p {
    margin-top: 5%;
    width: 80%;
}

strong {
    font-weight: bold;
    color: var(--verde);
}

a {
    color: black;
    font-family: var(--fonte-titulo-button);
}


.material-symbols-outlined {
    font-size: 16px;
    font-weight: bold;
}

.swiper {
    margin: 4%;
    width: 364px;
    height: 281px;
    border-radius: 20px;
    cursor: grab;
}

.swiper img {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.page-geral {
    overflow-x:  hidden;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: white;
}

iframe {
    margin-top: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.info-geral {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color:white;
}

.missao > .container-lista {
    display: flex;
    flex-direction: column;
    overflow-x:  hidden;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin-bottom: 5%;
    width: 100%;
    margin-top: 5%;
}

.container-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 0;
    margin-top: 2%;
    /* background: linear-gradient(to right, transparent, white),
    url("../img/carrossel1/carrossel4.jpg") no-repeat; */
}

.fundo-video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 100%), 
    url("../img/carrossel1/carrossel4.jpg") no-repeat;
}

.missao > .lista-info {
    list-style: disc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    color: var(--verde);
    width: 330px;
    font-size: 20px;
}

.container-lista {
    display: flex;
    flex-direction: column;
    overflow-x:  hidden;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    width: 100%;
    margin-bottom: 5%;
}

.lista-info {
    list-style: disc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    color: var(--verde);
    width: 70%;
    font-size: 20px;
}

.info {
    font-size: 20px;
    align-items: center;
    justify-content: center;
}


.fundo-carrossel {
    overflow-x: hidden;
    background-color: var(--verde);
    width: 100%;
    display: flex;
    justify-content: center;
}

.missao {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    padding-bottom: 0;
    color: black;
}

.missao .info {
    color: black;
}

.page-compromisso {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 2%;
    padding-bottom: 0;
    color: #000000;
}

.page-compromisso .info {
    color: black;
}

.compromisso {
    color: black;
}

.compromisso-text {
    text-align: center;
}



.container-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.container-card h1 {
    font-weight: 400;
    width: 80%;
    text-align: center;
}

.container-card strong {
    font-weight: 900;
}

.card {
    width: 80%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--verde);
    color: var(--verde-claro);
    padding: 20px;
    border-radius: 5px;
}


.card > p {
    overflow-x: hidden;
    margin-top: 2%;
    color: white;
    width: 100%;
    text-align: left;
    font-weight: lighter;
}

.sub-title {
    text-align: center;
    width: 78%;
    margin: 2%;
    color: var(--verde-claro);
    padding: 5%;
    border: 3px solid var(--verde-claro);
    border-radius: 5px;
}

.action {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    background-color: var(--verde);
    color: white;
    width: 100%;
    padding: 5%;
}

.action h1 {
    width: 80%;
}

.feedbacks {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 5%;
}

.lojas {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card-lojas {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 80%;
}

.item-loja img {
    width: 88px;
    height: 88px;
    border-radius: 20px;
}

.lojas button {
    width: 349px;
    margin: 5%;
}

.redes-sociais {
    overflow-x: hidden;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: var(--verde);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes-sociais h3 {
    font-size: 20px;
}

.link-redes {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 80%;
}

.item-redes {
    display: flex;
    width: 105px;
    height: 90px;
    background-color: var(--verde-claro);
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

#extra-carrossel {
    display: none;
}

.item-redes img {
    width: 44px;
    height: 44px;
    justify-content: center;
}

footer {
    overflow: x hidden;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

footer h3 {
    color: #000000;
}

footer img {
    width: 100px;
    height: 100px;
}

h2 .material-symbols-outlined {
    padding-right: 10px;
    font-size: 20px;
    color: white;
}

.whatsapp-link {
    position: fixed;
    cursor: pointer;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 23px;
    background-color: #25d366;
    color: black;
    border-radius: 50px;
    text-align: center;
    font-size: 36px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.whatsapp-link:hover {
    background-color: #1c9e4c;
    transition: 1s;
}

.icon {
    margin-top: 12px;
    color: white;
    width: 32px;
}

.form {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup h2 {
    margin-top: 0;
}

.popup input{
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup button {
    width: 200px;
    padding: 10px 20px;
    background-color: var(--amarelo);
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.popup .close-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    padding: 0;
    text-transform: lowercase;
}

.container-texto {
    align-items: center;
    justify-content: center;
}

.loading {
    width: 45px;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



