:root {
    --verde: #082922;
    --amarelo: #F9FD27;
    --cinza: #0829222c;


    --fonte-texto: "Exo 2", sans-serif;
    --fonte-titulo-button: "Poppins", sans-serif;

}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: var(--fonte-texto);

}

body {
    overflow-x: hidden;
}

.cabecalho {
    background-color: var(--verde);
    height: 109px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 129px;
    height: 153px;
}

.page-action {
    overflow: y hidden;
    width: 100%;
    height: calc(100vh - 109px);
    background-image: url(../img/fundoPg1.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 20px; */
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 18px;
    text-align: center;
}

button {
    width: 249px;
    height: 64px;
    border-radius: 20px;
    border: none;
    font-size: 30px;
    text-transform: uppercase;
    background-color: var(--amarelo);
    color: #000000;
    font-family: var(--fonte-titulo-button);
    font-weight: 900;
}

#produtos {
    margin-top: 5%;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--fonte-titulo-button);
}

h1 {
    font-size: 22px;
    font-weight: bold;
    font-family: var(--fonte-titulo-button);
}

h2 {
    font-size: 16px;
    font-weight: light;
}

p {
    margin-top: 5%;
    width: 80%;
}

strong {
    font-weight: bold;
    color: var(--verde);
}

.material-symbols-outlined {
    font-size: 16px;
    font-weight: bold;
}

.carrossel {
    margin: 5%;
    width: 364px;
    height: 281px;
    background-color: white;
    border-radius: 20px;
}

.page-geral {
    overflow: y hidden;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}

iframe {
    margin-top: 10%;
    border-radius: 15px;
}

.info-geral {
    overflow: y hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 8%;
    background-color: var(--cinza);
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
}

.container-lista {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin-bottom: 5%;
}

.lista-info {
    overflow: y hidden;
    list-style: disc;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    color: var(--verde);
    width: 100%;
}

.info {
    margin-top: 2px;
    
}

.fundo-carrossel {
    overflow: y hidden;
    background-color: var(--verde);
    width: 100%;
    display: flex;
    justify-content: center;
}

.page-compromisso {
    overflow: y hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: black;
    margin: auto;
    padding: 2%;
    color: white;
}

.compromisso {
    color: white;
}

.compromisso-text {
    margin: 0;
    text-align: center;
}
