@media (min-width:800px) {
    #produtos {
        margin-top: 10px;
        padding: 0;
    }

    .swiper {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        margin-top: 10px;
        font-size: 18px;
    }

    iframe {
        margin-top: 20px;
    }

    .container-page {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        margin: 5%;
        min-height: max-content;
        width: 80%;
    }
    
    .page-action {
        justify-content: center;
    }

    .container-page > .missao > .fundo-carrossel {
        background-color: white;
    }

    .missao {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        margin-top: 0;
        width: 394px;
    }

    #compromisso-carrossel {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }

    #extra-carrossel {
        display: block;
    }

    .sub-title {
        padding: 20px;
        width: 87%;
    }

    .container-card-desk {
        display: flex;
        justify-content: space-between;
    }

    .page-final {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-direction: row;
        margin-top: 5%;
    }

    .feedbacks {
        margin: 0;
        padding: 0;
    }

    h2 .material-symbols-outlined {
        padding-right: 10px;
        font-size: 30px;
        color: white;
    }

    .item-loja img {
        width: 114px;
        height: 114px;
        border-radius: 20px;
    }

    .redes-sociais {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .link-redes {
        justify-content: center;
        gap: 5%;
    }
}